body {
  margin: 0;
}

alg-sheet {
  width: 960px;
  height: 2079px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  padding: 630px 16px 780px;
  /* gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  contain: content; */
}

.table {
  font-family: "Ubuntu", Tahoma, sans-serif;
  color: white;

  display: grid;
  grid-template-columns: 32px 160px 272px 272px 160px 32px;
}

.table>* {
  height: 160px;
}

.table .hash-oll {
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  opacity: 0.3;
  font-size: 32px;
}

.table .hash-oll.cw {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}

twisty-player {
  width: 160px !important;
  height: 160px;
}

.alg {
  font-size: 38px;
  padding: 12px 10px 10px 10px;
  box-sizing: border-box;
}

.alg:not(.right) {
  border-right: 2px solid white;
}

.right {
  text-align: right;
  padding: 12px 10px 10px 10px;
}
