body {
  margin: 0;
}

alg-sheet {
  width: 960px;
  height: 2079px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  padding: 630px 16px 780px;
  /* gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  contain: content; */
}

.table {
  font-family: "Ubuntu", Tahoma, sans-serif;
  color: white;

  display: grid;
  grid-template-columns: 32px 160px 272px 272px 160px 32px;
}

.table>* {
  height: 160px;
}

.table .hash-oll {
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  /* opacity: 0.3; */
  color: rgba(255, 255, 0, 0.5);
  font-size: 32px;
}

.table .hash-oll.cw {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.table twisty-player {
  width: 160px !important;
  height: 160px;
}

.alg {
  font-size: 38px;
  box-sizing: border-box;
}

.alg:not(.right) {
  border-right: 2px solid white;
}

.right {
  text-align: right;
}


.alg {
  padding: 12px 10px 10px 10px;
}

.right {
  padding: 12px 10px 10px 10px;
}

.alg.short {
  padding: 12px 50px 10px 10px;
}

.right.short {
  padding: 12px 10px 10px 50px;
}

.alg.very-short {
  padding: 12px 80px 10px 10px;
}

.right.very-short {
  padding: 12px 10px 10px 80px;
}

alg-sheet {
  gap: 50px;
}

.big-player {
  width: 500px;
  height: 500px;
  margin: auto;
}
