body {
  margin: 0;
}

alg-sheet {
  width: 960px;
  height: 2079px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  display: grid;
  padding: 630px 40px 780px;
  /* gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  contain: content; */
}

table {
  font-family: "Ubuntu", Tahoma, sans-serif;
  font-size: 4 0px;
  color: white;
}

table td {
  width: 25%;
  contain: content;
  overflow: hidden;
}

table td:nth-child(2) {
  width: 50%;
}

/* alg-case {
  contain: content;
  overflow: hidden
}

twisty-player-wrapper {
  contain: content;
  overflow: hidden
}

twisty-player {
  contain: content;
  overflow: hidden;
  width: 100%;
  height: 100%;
} */

twisty-player {
  display: inline-grid;
  width: 200px;
}

twisty-player-wrapper {
  contain: content;
  overflow: hidden;
}
